html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(113, 53, 77);
}

main {
    margin-left: 100px;
    height: 60%;
    width: 30%;
    background: rgb(155, 81, 112);
    text-align: center;
    filter: drop-shadow(10px 10px rgb(72, 62, 76));
    border-radius: 5%;
    corner-shape: squircle;
    font-family: 'Roboto', monospace;
    padding: 25px;
    align-content: center;
    font-size: larger;
}

#header {
    align-items: start;
    color: white;
}

a {
    color: rgb(82, 118, 164);
    text-decoration: none;
}

nav {
    display: flex;
    /* justify-content: center; */
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: end;
    font-size: xx-large;
} 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 50%;
    background: rgb(128, 102, 145);
    border: 2px solid rgb(65, 65, 65);
    border-radius:5px;
    margin-bottom: 10px;
    color:white;
}

input[type="file"] {
    width: 30%;
    padding: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    width: 50%;
    padding: 5px;
    cursor: pointer;
    background: rgb(128, 102, 145);
    color:white;
}

label {
    color:white;
}

button {
    width: 50%;
    background: rgb(128, 102, 145);
    border: 2px solid rgb(65, 65, 65);
    border-radius:5px;
    cursor: pointer;
    margin-bottom: 10px;
    color:white;
}

#logout {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    main {
        width: 90%;
    }

    nav {
        height: 85%;
    }

    input{
        width: 80%;
        height: 20px;
    }

    input[type="file"]{
        width: 80%;
        height: 20px;
    }

    button {
        width: 80%;
        height: 20px;
    }
}

#logo {
    animation: swingAnimation 40s infinite;
    filter: drop-shadow(10px 10px 10px rgb(21, 20, 20));
}

@keyframes swingAnimation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(5deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(5deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(5deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}